.component--widget-build {

  .results {
    margin-bottom: 1rem;
    text-align: center;
    .column {
      color: $color-gray-40;
      &.active {
        color: $color-secondary-2-3;
      }
    }
  }
  .value {
    font-size: 3rem;
  }

  .time {
    color: $color-gray-60;
    text-align: center;
  }

}
