<div class="component--widget-build">

  <div class="title">Build</div>

  <div class="row results">
    <div class="column colspan-6"
         ng-class="{'active': data.debug}">
      <div class="value">
        <i class="fa fa-server"></i>
      </div>
      <div class="label">
        Debug
      </div>
    </div>
    <div class="column colspan-6"
         ng-class="{'active': data.release}">
      <div class="value">
        <i class="fa fa-server"></i>
      </div>
      <div class="label">
        Release
      </div>
    </div>
  </div>

  <div class="time">
    {{ data.time.format('h:mma - l') }}
  </div>

</div>
