<div class="component--item-row">
  <div class="item-content row {{ item.type }} {{ status.style }}"
       ng-class="{selected: isSelected()}">
    <div class="header row">
      <div class="id column colspan-2"
           title="{{ typeDict.label }}"
           ng-click="selectItem()">
        <i class="fa {{typeDict.icon}}"></i>
        <span>{{ item.id }}</span>
      </div>
      <div class="column colspan-1 center">{{ item.owner || '&nbsp;' }}</div>
      <div class="column colspan-2 center">{{ item.start_time.format('l h:mma') }}</div>
      <div class="column colspan-1 center">{{ status.label }}</div>
      <div class="column colspan-6 paz"
           ng-hide="isSelected()"
           widgets-status
           data-item="item"></div>
    </div>
    <div class="widgets row"
         ng-show="isSelected()">
      <div class="column colspan-10">
        <div class="row">
          <div class="column colspan-3 widget {{ statusCodes[item.metrics.status].style }}"
               widget-metrics
               data-widget="item.metrics">
          </div>
          <div class="column colspan-3 widget {{ statusCodes[item.build.status].style }}"
               widget-build
               data-widget="item.build">
          </div>
          <div class="column colspan-3 widget {{ statusCodes[item.unit_test.status].style }}"
               widget-test
               data-widget="item.unit_test"
               data-title="Unit Test">
          </div>
          <div class="column colspan-3 widget {{ statusCodes[item.functional_test.status].style }}"
               widget-test
               data-widget="item.functional_test"
               data-title="Functional Test">
          </div>
        </div>
      </div>
      <div class="column colspan-2"
           widget-result
           data-widget="item.result">
      </div>
    </div>
  </div>
</div>
