.component--widget-metrics {

  .results {
    text-align: center;
    margin-bottom: 1rem;
  }

  .value {
    font-size: 1.6rem;
  }

  .trend-up {
    color: $color-complement-0;
  }
  .trend-down {
    color: $color-primary-0;
  }
  .trend-right {
    color: $color-secondary-1-0;
  }

  .label {
    color: $color-gray-80;
    font-size: 0.7rem;
  }

}
